# Local .terraform directories
**/.terraform/*

# .tfstate files and backup
**/*.tfstate
**/*.tfstate.*

# Crash logs
crash.log

# Exclude CLI configuration files
.terraformrc
terraform.rc

# Exclude plan output
*.tfplan

# Ignore logs
*.log

# Ignore any artifact files
tfplan
*.out

node_modules/
.DS_Store
.env
.env.*
.env.local
.env.*.local
npm-debug.log*
build/
dist/
out/
